/.arduinoIDE
/.aws
/.gitconfig
/.idlerc
/.mcc
/.mchp_cm
/.mchp_docs
/.mchp_packs
/.mplabcomm
/.openshot_qt
/.redhat
/.vscode
/advanced_ip_scanner_Aliases.bin
/advanced_ip_scanner_Comments.bin
/advanced_ip_scanner_MAC.bin
/AppData
/Contacts
/Desktop
/Documents
/Downloads
/Favorites
/gitdemo
/iVMS-4200alarmPicture
/Links
/MPLABXProjects
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{45bb884c-b8ac-11ef-b8a2-f106bff97ed0}.TM.blf
/NTUSER.DAT{45bb884c-b8ac-11ef-b8a2-f106bff97ed0}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{45bb884c-b8ac-11ef-b8a2-f106bff97ed0}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Pictures
/PycharmProjects
/Saved Games
/Searches
/sirii
/Videos
/WebComponents
/WhatsApp Image 2025-01-27 at 18.35.07_d0a4a639.jpg
/WhatsApp Image 2025-01-27 at 18.35.08_8b1048d2.jpg
/WhatsApp Image 2025-01-27 at 18.35.08_a9ca5a16.jpg
/OneDrive
/Application Data
/My Documents
/Cookies
/Local Settings
/PrintHood
/Recent
/NetHood
/SendTo
/Start Menu
/Templates